<!DOCTYPE html>
<html>
<head>
    <title>App Configuration</title>
</head>
<body>
    <h2>Edit DICOM Connection Config</h2>
    <form method="post">
        <label>ORDER AE Title:</label><br>
        <input type="text" name="ORDER_AE_TITLE" value="{{ config['ORDER_AE_TITLE'] }}" required><br><br>

        <label>ORDER IP:</label><br>
        <input type="text" name="ORDER_IP" value="{{ config['ORDER_IP'] }}" required><br><br>

        <label>ORDER Port:</label><br>
        <input type="number" name="ORDER_PORT" value="{{ config['ORDER_PORT'] }}" required><br><br>

        <label>UPLOAD AE Title:</label><br>
        <input type="text" name="UPLOAD_AE_TITLE" value="{{ config['UPLOAD_AE_TITLE'] }}" required><br><br>

        <label>UPLOAD IP:</label><br>
        <input type="text" name="UPLOAD_IP" value="{{ config['UPLOAD_IP'] }}" required><br><br>

        <label>UPLOAD Port:</label><br>
        <input type="number" name="UPLOAD_PORT" value="{{ config['UPLOAD_PORT'] }}" required><br><br>

        <label>Local AE Title:</label><br>
        <input type="text" name="LOCAL_AE_TITLE" value="{{ config['LOCAL_AE_TITLE'] }}" required><br><br>

        <label>ORTHANC WORKLIST FOLDER:</label><br>
        <input type="text" name="ORTHANC_WORKLIST_FOLDER" value="{{ config['ORTHANC_WORKLIST_FOLDER'] }}" required><br><br>

        <label>SEND TO API:</label><br>
        <input type="checkbox" name="SEND_TO_API" value="true" {% if config['SEND_TO_API'] %}checked{% endif %} required><br><br>


        <label>HIS API URL:</label><br>
        <input type="text" name="HIS_API_URL" value="{{ config['HIS_API_URL'] }}"><br><br>

        <label>Local Result Folder:</label><br>
        <input type="text" name="RESULT_FOLDER" value="{{ config['RESULT_FOLDER'] }}" required><br><br>

        <button type="submit">Save</button>
    </form>

    <br>
</body>
</html>
